@{
    ViewData["Title"] = "Home";
}
<div class="outer">
    <div class="explonation">
        
    </div>
    <img src="~/Resources/kisspng-online-auction-computer-icons-gavel-bidding-free-auction-svg-5ab0fc62e828e9.svg"  class="icon"/>
</div>
<style>
.outer { display: flex; justify-content: center; background-image: url("C:\Users\prof1\source\repos\Auction\Auction\wwwroot\Resources\judges-auctioneer-gavel-computer-keyboard-260nw-441608332.svg") }
.explonation { 
    width: 100%; 
    height: 150px;          
    background-image: url("") 
}
.icon{
    width:20%;
    height:auto;
}
</style>