@{
    ViewData["Title"] = "Home";
}
<select id="voicelist">

</select>
<button onclick="konuş()"></button>
<script type="text/javascript">
    window.speechSynthesis.onvoiceschanged = function () {
        const voicearray= window.speechSynthesis.getVoices();
        var voicelist = document.getElementById("voicelist");
        for (var i = 0; i < voicearray.length; i++) {
            var option = document.createElement("option");
            option.textContent = voicearray[i].name
            voicelist.appendChild(option);
        }
    }
    function konuş() {
        var syny = window.speechSynthesis;
        var a = "Deneme";
        var voices = window.speechSynthesis.getVoices();
        var utt = new SpeechSynthesisUtterance(a);
        utt.pitch = 1;
        utt.volume = 1;
        for (var i = 0; i < voices.length; i++) {
            if (voices[i].name === "Microsoft Tolga - Turkish (Turkey)") {
                utt.voice = voices[i];
                break;
            }
        }
        syny.speak(utt);
    }
</script>